.displayEvents {
  display: flex;
  background: $primaryColor;
  height: 100vh;
  padding: 10% 0;

  h2 {
    font-size: 1.5rem;
    padding: 0% 1%;
    padding-top: 7%;
    line-height: 1.5rem;
    color: #fff;
    line-height: 40px;
  }

  p {
    padding: 2% 0;
    color: #fff;
  }
}

.displayContents {
  border: 2px solid $secondaryColor;
  margin: 0 2%;
  width: 50%;
  height: 111%;
  border-radius: 10px;
  background: $primaryColor;
  box-shadow: 5px 5px 25px #183555;
}

.displayContentsSelected {
  background: $primaryColor;
  box-shadow: 15px 15px 15px #ffde7d;
}
//DYNAMTIC CONTENT STYLES

.displayContentsImage {
  height: 300px; 
  object-fit: cover;
  background: #fff;
  border-radius: 8px 8px 0 0;
}

.displayContentsName {
  font-weight: 700;
  font-size: 1.2rem;
  padding: 0 5%;
}

.displayContentsVenue {
  font-size: 1.2rem;
  padding: 0 5%;
}

.displayContentsTime {
  font-size: 1.2rem;
  padding: 0 5%;
}

.displayContentsTickets {
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
  padding: 5% 5%;
  text-transform: capitalize;
  margin: 2%;
  a {
    text-decoration: none;
    color: $secondaryColor;
    padding-bottom: 15%;
    &:hover {
      color: #ffde7d;
    }
  }
}

.button {
  background: none;
  border: none; 
  color: $secondaryColor;
    .fab{
        font-size: 1.5rem;
        
        &:hover {
          color: #ffde7d;
        }
    }
}
    