html {
  font-size: 125%;
  overflow-x: hidden;
}

body {
  font-size: 1rem;
  font-family: $secondaryFont;
}

h1 {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 3.7rem;
}

img {
  max-width: 100%;
  width: 100%;
}

.wrapperContainer {
  max-width: 1680px;
  margin: 0 auto;
  width: 100%;
}

.dropDownWrapper {
  max-width: 500px;
  margin: 0 auto;
}

//FOOTER STYLES
footer {
  padding: 0.7% 0;
  text-align: center;
  background: $secondaryColor;
  color: #fff;
}