html {
  font-size: 125%;
  overflow-x: hidden;
}

body {
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 3.7rem;
}

img {
  max-width: 100%;
  width: 100%;
}

.wrapperContainer {
  max-width: 1680px;
  margin: 0 auto;
  width: 100%;
  // border: 2px solid coral;
}

.dropDownWrapper {
  max-width: 500px;
  margin: 0 auto;
}

.backToTop {
  margin-top: -8%;
  padding-bottom: 5.9%;
  text-align: center;
}

.backToTop a {
  text-align: center;
  padding: 1%;
  color: #fff;
  text-transform: capitalize;
  text-decoration: none;
  font-size: 1.3rem;
}

//FOOTER STYLES
footer {
  // margin: 5%;
  padding: 0.7% 0;
  text-align: center;
  background: #13192b;
  color: #fff;
  position: absolute;
  width: 100%;
  // margin-top: -3%;
}

footer p {
  font-size: 0.9rem;
}