@media only screen and (max-width: 1480px){
  .displayContents {
    height: 106%;
  }
}

@media only screen and (max-width: 1389px){  
  .displayContents {
    height: 90%;
  }
}

@media only screen and (max-width: 1165px){
  .mainHeader {
    background-position: 87% -10px;
    background-image: url('../images/headerBackground1165px.jpg');
  }
  .container{
    width: 70%;
    margin-top: 5%;
  }
  .displayContents {
    height: 90%;
  }

  .displayContentsName h2 {
    font-size: 1.2rem;
    line-height: 30px;
  }

  .displayContentsVenue p {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 1115px){
   .displayContents {
    height: 85%;
  }

  .backToTop {
    margin-top: -12%;
    padding-bottom: 7.9%;
    text-align: center;
  }
}

@media only screen and (max-width: 925px){
  .mainHeader {
      background-image: url('../images/headerMainImage925px.jpg');
  }

  .headerContents h1 {
    font-size: 2rem;
  }

  .container {
    width: 80%;
    margin-top: 5%;
  }

  .dropDownContainer {
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }

  .dropDownContainer h2 {
    font-size: 1.4rem;
    text-align: center;
  }

  .buttonContainer {
      display: flex;
      justify-content: center;
      margin-top: 3%;
  }

  .displayEvents {
    flex-direction: column;
    height: 250vh;
  }

  .displayContents {
    margin: 5% auto;
    width: 63%;
  }

  .backToTop {
    margin-top: -17%;
    padding-bottom: 10.9%;
    text-align: center;
  }
}

@media only screen and (max-width: 800px){  
  .container {
    margin: 25% 0;
  }

  .backToTop {
    padding-bottom: 10.9%;
  }

  .displayEvents {
    height: 220vh;
  }
  .displayContents {
    height: 32%;
  }
}

@media only screen and (max-width: 785px){

   .mainHeader {
      background-image: url('../images/headerMainImage785px.jpg');
  }

  .headerContents h1 {
    margin-top: 2%;
  }
  
}

@media only screen and (max-width: 768px){
  
  .container {
    width: 80%;
    margin: 15% 0;
  }
  .headerContents h1 {
   line-height: 45px;
  }

  .backToTop {
    margin-top: -17%;
    padding-bottom: 9.9%;
    text-align: center;
  }
}

@media only screen and (max-width: 450px){ 

   .container {
    width: 90%;
    margin-top: 11%;
  }
}

@media only screen and (max-width: 414px){ 
  .logoContainer {
    width: 70px;
  }
  .headerContents h1 {
    font-size: 1.5rem;
    padding: 0 15%;
    line-height: 35px;
  }

  .dropDownContainer h2 {
    font-size: 0.9rem;
    padding: 0 0;
  }
  .container {
    margin: 5% 0;
  }

  .displayEvents {
    flex-direction: column;
    height: 230vh;
  }

  .displayContents {
    width: 83%;
  }

  .backToTop {
    margin-top: -15%;
    padding-bottom: 5.9%;
    text-align: center;
  }
}

@media only screen and (max-width: 375px){ 

  .logoContainer {
    width: 90px;
    display: block;
    margin-bottom: 2%;
    // display: none;
  }

  .headerContents h1 {
    font-size: 1.6rem;
    padding: 0 10%;
    line-height: 35px;
    padding-top: 0%;
  }

  .dropDownContainer {
    margin: 0;
  }

  .dropDownContainer h2 {
    font-size: 0.9rem;
    padding: 0% 0;
  }

  .displayEvents {
    flex-direction: column;
    height: 260vh;
  }

  .backToTop {
    padding-bottom: 5.9%;
  }
}

@media only screen and (max-width: 360px){ 

  .logoContainer {
    width: 80px;
    display: block;
    margin-bottom: 2%;
  }

  .headerContents h1 {
    font-size: 1.4rem;
    padding: 0 10%;
    line-height: 35px;
  }

  .dropDownContainer h2 {
    font-size: 1rem;
    padding: 0% 0;
  }

  .dropDownContainer {
    margin-top: 0;
  }

  .container {
    margin: 5% 0;
  }

  .nao-month td {
    text-align: center;
    padding: 5px 1px;
    width: 40px;
    text-transform: uppercase;
  }

  .displayContents {
    margin: 5% auto;
    width: 83%;
  }

  .displayEvents {
    height: 230vh;
  }

  .backToTop {
    margin-top: -17%;
    padding-bottom: 7.9%;
    text-align: center;
  }
}

@media only screen and (max-width: 355px){

  .logoContainer {
    width: 110px;
  }
   .mainHeader {
      background-image: url('../images/headerBackground355px.jpg');
  }
  .headerContents h1 {
    font-size: 1.5rem;
    line-height: 2.2rem;
    padding-top: 4%;
    line-height: 30px;
  }

  .dropDownContainer h2 {
    font-size: 0.9rem;
  }

  .buttonContainer {
    justify-content: center;
    margin-top: 3%;
  }

   .container {
    width: 95%;
    margin-top: 11%;
  }

  .displayContents {
    margin: 5% auto;
    width: 83%;
  }

  footer {
    padding: 2% 0;
  }
}

@media only screen and (max-width: 320px){

  .logoContainer {
    width: 90px;

  }
  .headerContents h1 {
    font-size: 1.8rem;
    line-height: 1.9rem;
    padding-top: 4%;
  }

  .dropDownContainer h2 {
    font-size: 1rem;
  }
}