@import 'setup';
@import 'global';
@import 'header';
@import 'calendar';
@import 'displayEvents';
@import 'mediaQueries';


.button {
        background: none;
        border: none;
        
        
        .fab{
            font-size: 1.5rem;
            color: snow;
        }
        }
    




