a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:after, blockquote:before, q:after, q:before {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration, input[type=search]::-webkit-search-results-button, input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

audio, canvas, video {
  display: inline-block;
  max-width: 100%;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

figure {
  margin: 0;
}

form {
  margin: 0;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button, input {
  line-height: normal;
}

button, select {
  text-transform: none;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], html input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button, html, input, select, textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: .2em 0;
  background: #ccc;
  color: #000;
  padding: .2em 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

html {
  font-size: 125%;
}

body {
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 3.7rem;
}

img {
  max-width: 100%;
  width: 100%;
}

.wrapperContainer {
  max-width: 1680px;
  margin: 0 auto;
  width: 100%;
}

.dropDownWrapper {
  max-width: 500px;
  margin: 0 auto;
}

footer {
  text-align: center;
}

.mainHeader {
  height: 100vh;
  background-image: url("../images/headerMainImageTwoOptionTwo.jpg");
  background-position: center;
  background-repeat: no-repeat;
}

.headerContents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.headerContents h1 {
  padding-top: 3%;
  text-transform: capitalize;
  text-shadow: 1px 1px 1px #808080;
  color: #fff;
  text-align: center;
  font-size: 3rem;
}

.dropDownContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 750px;
  margin: 0 auto;
  margin-top: 2%;
}

.dropDownContainer p {
  font-size: 1.5rem;
  color: #fff;
  padding: 2% 0;
  text-shadow: 1px 1px 1px #808080;
}

.dropbtn1,
.dropbtn2 {
  background-color: #0A54A8;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 900;
  border-radius: 5px;
}

.dropbtn1 {
  width: 150px;
}

.dropbtn2 {
  width: 180px;
  white-space: nowrap;
}

/* The container <div> - needed to position the dropdown content */
.dropdownCity,
.dropdownEvent {
  position: relative;
  display: inline-block;
  z-index: 10;
}

/* Dropdown Content (Hidden by Default) */
.dropdownCityContent,
.dropdownEventContent {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdownCityContent li,
.dropdownEventContent li {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdownCityContent li:hover,
.dropdownEventContent li:hover {
  background-color: #f1f1f1;
}

/* Show the dropdown menu on hover */
.dropdownCity:hover .dropdownCityContent,
.dropdownEvent:hover .dropdownEventContent {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdownCity:hover .dropbtn1,
.dropdownEvent:hover .dropbtn2 {
  background-color: #3e8e41;
}

.calendarContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container {
  margin-top: 2%;
  width: 50%;
  height: 200%;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 20px;
}

.displayEvents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #121726;
  height: 100vh;
  padding: 10% 0;
}

.displayEvents h2 {
  font-size: 1.5rem;
  padding: 5% 1%;
  line-height: 1.5rem;
  color: #fff;
  line-height: 40px;
}

.displayEvents p {
  padding: 1% 0;
  color: #fff;
}

.displayContents {
  border: 2px solid #00b8a9;
  margin: 0 2%;
  width: 50%;
  border-radius: 10px;
  background: #121726;
}

.displayContentsImage {
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  background: #fff;
  border-radius: 8px 8px 0 0;
}

.displayContentsName {
  font-weight: 700;
  font-size: 1.2rem;
  padding-left: 3%;
}

.displayContentsVenue {
  font-size: 1.2rem;
  padding-left: 3%;
}

.displayContentsTime {
  font-size: 1.2rem;
  padding-left: 3%;
}

.displayContentsTickets {
  font-size: 1.2rem;
  padding-left: 3%;
  text-transform: capitalize;
}

.displayContentsTickets a {
  text-decoration: none;
  color: #00b8a9;
  padding-bottom: 15%;
}

.displayContentsTickets a:hover {
  color: #ffde7d;
}
